header {
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: transparent;
    position: fixed;
    background: var(--white-color);
    box-shadow: 0px 7px 7px -2px var(--gray-color);
    backdrop-filter: blur(10px);
    opacity: .9;

}

header .header-wrapper {
    width: 90%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
}

header .header-wrapper .logo-wrapper {
    width: 200px;
    height: auto;
}

header .header-wrapper .logo-wrapper img {
    width: 100%;
    object-fit: cover;
}

header .header-wrapper nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .header-wrapper nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}


header .header-wrapper nav ul li {
    list-style: none;
    height: 70px;
    padding: 0px 5px;
    line-height: 70px;
    font-family: sub-title-font;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--black-color);

}

header .header-wrapper .header-contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .header-wrapper .header-contact-container .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--black-color);
    font-family: sub-title-font;
    font-size: 14px;
}

header .header-wrapper .header-contact-container .btn {
    height: 50px;
    padding: 0px 15px;
    border: var(--primary-color) 1px solid;
    font-family: sub-title-font;
    font-size: 20px;
    background: transparent;


}

header .header-wrapper .header-contact-container .btn i {
    color: var(--black-color);

}


.landing-page-bg {
    height: 100%;
    width: 100%;
    background: url(../all-images/body-images/landphoto.jpeg);
    position: absolute;
    background-size: 100%;
    background-position: 100%;
    z-index: 0;

}

.landing-page-bg .overlay-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.landing-page-bg .overlay-bg .form-container {
    width: 700px;
    height: 400px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.landing-page-bg .overlay-bg .form-container .inner-form {
    width: 100%;
    margin-top: 30px;

}

.landing-page-bg .overlay-bg .form-container .inner-form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 46px;


}

.landing-page-bg .overlay-bg .form-container .inner-form h5 {
    display: flex;
    justify-content: center;
    font-size: sub-title-;
    margin-bottom: 10px;
    color: var(--white-color);
}

.landing-page-bg .overlay-bg .form-container .inner-form h6 {
    display: flex;
    justify-content: center;
    font-size: sub-title-font;
    margin-bottom: 20px;
    color: var(--white-color);
}

.landing-page-bg .overlay-bg .form-container .inner-form .button-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.landing-page-bg .overlay-bg .form-container .inner-form .button-wrapper .right-button {
    background-color: var(--primary-color);
}

.landing-page-bg .overlay-bg .form-container .inner-form .button-wrapper .left-button {
    border: var(--primary-color) 1px solid;
}

.landing-page-bg .overlay-bg .form-container .inner-form .button-wrapper .btn {
    color: var(--white-color);
    background: none;
    height: 50px;
    padding: 0px 30px;
    border: none;
    cursor: pointer;
    font-family: sub-title-font;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
}

.landing-page-bg .overlay-bg .form-container .inner-form .button-wrapper .btn:hover {
    background-color: grey;

}

.landing-page-bg .overlay-bg .form-container .inner-form.about h1 {
    font-size: 80px;
}

.landing-page-bg .overlay-bg .form-container .inner-form .home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    gap: 5px;
}

.landing-page-bg .overlay-bg .form-container .inner-form .home-wrapper p {
    font-size: 25px;
}















.index-content-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.index-content-container .content-container {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
}

.index-content-container .content-container .content-wrapper {
    width: 90%;
    max-width: 1200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}





.about-us-container {
    display: flex;
    width: 100%;

}

.about-us-container .about-us-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us-container .about-us-content .section-title-wrapper {
    width: 70%;
}

.about-us-container .about-us-content .section-title-wrapper h2 {
    font-family: sub-title-font;
    font-size: 30px;
}

.about-us-container .about-us-content.about-us-image {
    width: 40%;
    padding-left: 10%;
}

.about-us-container .about-us-content .read-button {
    color: var(--white-color);

}


.about-us-container .about-us-content .read-button .btn {
    color: var(--black-color);
    background: var(--white-color);
    height: 50px;
    padding: 0px 30px;
    border: var(--primary-color) 1px solid;
    cursor: pointer;
    font-family: sub-title-font;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;

}

.about-us-container .about-us-content .image-wrapper {
    height: 450px;
    width: 100%;

}

.about-us-container .about-us-content .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-content-container .content-container {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white-color);
}

.index-content-container .content-container .content-wrapper {
    width: 90%;
    max-width: 1200px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.special-offer-container {
    display: flex;
    width: 100%;

}

.special-offer-container .special-offer-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.special-offer-container .special-offer-content.special-offer-image {
    height: 450px;
    width: 100%;
}

.special-offer-container .special-offer-content.special-offer-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.special-offer-container .special-offer-content.text {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.special-offer-container .special-offer-content.text .inner-wrapper {
    height: 100%;
    width: 100%;
    gap: 30px;
    margin-left: 100px;

}

.special-offer-container .special-offer-content.text .inner-wrapper .special-title-wrapper {
    width: 70%;
    margin-top: 50px;

}

.special-offer-container .special-offer-content.text .inner-wrapper .special-title-wrapper h2 {
    font-family: sub-title-font;
    font-size: 30px;
    margin-bottom: 30px;

}


.special-offer-container .special-offer-content.text .inner-wrapper li {

    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

}

.special-offer-container .special-offer-content.text .inner-wrapper li .check {
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    flex-shrink: 0;
}

.special-offer-container .special-offer-content.text .inner-wrapper .price-container {
    display: inline-flex;
    font-weight: bold;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
}

.special-offer-container .special-offer-content.text .inner-wrapper .price-container .currency {
    font-size: 40px;
    margin-right: 5px;

}

.special-offer-container .special-offer-content.text .inner-wrapper .price-container .price {
    font-size: 65px;
    margin-right: 5px;
    line-height: 2;

}

.special-offer-container .special-offer-content.text .inner-wrapper .price-container .night {
    font-size: 15px;
    align-self: self-end;
    font-weight: 400;
    margin-bottom: 30px;

}

.comment-container {
    display: flex;
    width: 100%;
    gap: 50px;
    justify-content: space-between;
}

.comment-container .comment-content {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.comment-container .comment-content:hover {
    transform: translateY(-10px);
}

.comment-container .comment-content .comment-image {
    width: 100%;
    margin-bottom: 50px;
}

.comment-container .comment-content .comment-image img {
    width: 100%;
    object-fit: cover;

}

.comment-container .comment-content .deluxe-wrapper {
    margin-left: 20px;
    width: 100%;
}

.comment-container .comment-content.content-yellow {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment-container .comment-content .content-image {
    width: 100%;
    margin-bottom: 50px;
}

.comment-container .comment-content .content-image img {
    width: 100%;
    object-fit: cover;
}

.comment-container .comment-content.content-twin {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment-container .comment-content .content-img {
    width: 100%;
    margin-bottom: 50px;
}

.content-container .content-wrapper .check-button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.content-container .content-wrapper .check-button .btn {
    color: var(--white-color);
    background: brown;
    height: 50px;
    width: 250px;
    padding: 0px 30px;
    border: var(--primary-color) 1px solid;
    cursor: pointer;
    font-family: sub-title-font;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
}

.content-container .content-wrapper .check-button .btn:hover {
    background-color: var(--primary-color);
}


.class-container {
    display: flex;
    width: 100%;

}

.class-container .class-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.class-container .class-content .class-title-wrapper {
    width: 70%;
}

.class-container .class-content .class-title-wrapper h2 {
    font-size: 30px;
    font-family: sub-title-font;
}

.class-container .class-content.class-image {
    height: 450px;
    width: 50%;
}

.class-container .class-content.class-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.testimonial-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container .inner-content {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}


.testimonial-container .inner-content h1 {
    font-weight: 500;
    font-size: 50px;
}

.testimonial-container .inner-content .img-wrapper {
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.testimonial-container .inner-content .img-wrapper img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.testimonial-container .inner-content h4 {
    font-size: 30px;
}

.testimonial-container .inner-content p {
    font-size: 20px;
}

footer {
    width: 100%;
    min-height: 400px;
    z-index: 100;
    position: relative;
    background: var(--footer-color);

}

footer .footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer-container .footer-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

footer .footer-container .footer-wrapper .footer-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    gap: 30px;
    margin: 50px;

}

footer .footer-container .footer-wrapper .footer-content .logo-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-wrapper .footer-content p {
    font-size: 17px;
    font-family: sub-title-font;
}

footer .footer-container .footer-wrapper .footer-content.contact-us {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .footer-container .footer-wrapper .footer-content.contact-us p {
    font-size: 17px;
    font-family: sub-title-font;
}

footer .footer-container .footer-wrapper .footer-content.newsletter {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .footer-container .footer-wrapper .footer-content.newsletter .input-box {
    width: 100%;
    background: var(--white-color);
    display: flex;
    border: none;


}

footer .footer-container .footer-wrapper .footer-content.newsletter .input-box input {
    padding: 18px 25px;
    font-size: 15px;
    color: #555;
    flex: 1;
    width: 82%;
    border: none;
}

footer .footer-container .footer-wrapper .footer-content.newsletter .input-box .btn {
    height: 63px;
    width: 50px;
    border: none;
}

footer .footer-container .horizontal-line {
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: var(--white-color)1px solid;
    color: var(--white-color);
}

.about-index-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.about-container {
    width: 100%;
    min-height: 900px;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.about-container .about-content {
    width: 90%;
    height: 700px;
    display: flex;
    margin-top: 80px;
    gap: 30px;
}

.about-container .about-content .about-inner-form {
    width: 25%;
    display: flex;
    flex-direction: column;



}

.about-container .about-content .about-inner-form h2 {
    margin-bottom: 15px;
}

.about-container .about-content .about-inner-form.veritatis {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.about-container .about-content .about-inner-form.about-image {
    width: 40%;
    margin-left: 40px;
}

.about-container .about-content .about-inner-form.about-image .image-wrapper {
    width: 100%;

}

.about-container .about-content .about-inner-form.about-image .image-wrapper img {
    width: 100%;
    object-fit: cover;
}


.service-index-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-index-container .service-container {
    width: 100%;
    min-height: 900px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.service-index-container .service-container h1 {
    font-size: 50px;
    font-family: sub-title-font;
}



.service-index-container .service-container .service-content {
    width: 90%;
    height: 500px;
    display: flex;
    margin-top: 80px;
    gap: 80px;

}

.service-index-container .service-container .service-content .service-inner {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.service-index-container .service-container .service-content .service-inner .img-wrapper {
    width: 100%;
}

.service-index-container .service-container .service-content .service-inner .img-wrapper img {
    width: 100%;
    object-fit: cover;
}

.service-index-container .service-container .service-content .service-inner.text {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-index-container .service-container .service-content .service-inner.text h2 {
    font-size: 30px;
    font-family: sub-title-font;
}

.service-index-container .service-container .service-content .service-inner.text .detail-wrapper {
    margin-top: 30px;
}

.service-index-container .service-container .service-content .service-inner.text li {
    margin-top: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.service-index-container .service-container .service-content .service-inner.text li .check {
    width: 15px;
    height: 15px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    flex-shrink: 0;
}

.service-index-container .service-container .service-content .inner-service {
    width: 30%;
    min-height: 600px;
    display: flex;
    flex-direction: column;

}

.service-index-container .service-container h2 {
    font-size: 50px;
}

.service-index-container .service-container .service-content .inner-service .icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.service-index-container .service-container .service-content .inner-service .icon-wrapper i {
    font-size: 100px;
    margin-bottom: 20px;
    font-family: sub-title-font;
}

.service-index-container .service-container .service-content .inner-service h3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.service-index-container .service-container .service-content .inner-service p {
    font-size: 16px;
    color: var(--gray-color);

}

.service-index-container .service-container .service-content .inner-service span {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: var(--gray-color);

}






.contact-index-container {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-index-container .contact-container {
    width: 90%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;

}

.contact-index-container .contact-container h2 {
    font-size: 45px;
    font-family: sub-title-font;
    margin-bottom: 30px;
}

.contact-index-container .contact-container .contact-content {
    width: 90%;
    height: 300px;
    display: flex;
    gap: 50px;

}

.contact-index-container .contact-container .contact-content .contact-inner {
    width: 60%;
    display: flex;
    flex-direction: column;

}

.contact-index-container .contact-container .contact-content .contact-inner h3 {
    font-size: 25px;
    margin-bottom: 20px;

}

.contact-index-container .contact-container .contact-content .contact-inner p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #555;

}

.contact-index-container .contact-container .contact-content .contact-inner span {
    font-size: 15px;
    color: #555;
}

.contact-index-container .contact-container .contact-content .contact-inner.img {
    width: 25%;
    display: flex;
    flex-direction: column;

}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img img {
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;

}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img .staff-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img .staff-info h4 {
    font-size: 20px;
}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img .staff-info p {
    font-size: 18px;
}

.contact-index-container .contact-container .contact-content .contact-inner.img .staff-img .staff-info span {
    font-size: 16px;
    color: dodgerblue;
}

.contact-index-container .contact-container .feedback-content {
    width: 90%;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.contact-index-container .contact-container .feedback-content .headline-wrapper {
    margin-top: 20px;
}

.contact-index-container .contact-container .feedback-content .headline-wrapper h5 {
    font-size: 40px;
    font-style: sub-title-font;
}

.contact-index-container .contact-container .feedback-content .form-container {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 300px;
    margin-top: 30px;


}

.contact-index-container .contact-container .feedback-content .form-container .form-wrapper {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.contact-index-container .contact-container .feedback-content .form-container .form-wrapper .form-inner {
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 40px;
    margin-bottom: 50px;
}

.contact-index-container .contact-container .feedback-content .form-container .form-wrapper .form-inner input {
    font-size: 15px;
    color: #555;
    flex: 1;
    width: 200px;
    height: 50px;
    border: none;
    background: #e9e9f5;
    padding-left: 10px;
}

.contact-index-container .contact-container .feedback-content .form-container .form-wrapper .text-box {
    width: 600px;
    height: 80px;
}

.contact-index-container .contact-container .feedback-content .form-container .form-wrapper .text-box textarea {
    width: 100%;
    height: 80px;
    border: none;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    background: #e9e9f5;
    color: #555;
    padding: 15px;
}

.contact-index-container .contact-container .feedback-content .button-wrapper {
    display: flex;
    justify-content: center;

}

.contact-index-container .contact-container .feedback-content .button-wrapper .btn {
    color: var(--white-color);
    background: var(--primary-color);
    height: 50px;
    width: 200px;
    padding: 0px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: sub-title-font;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
}

.contact-index-container .contact-container .feedback-content .button-wrapper .btn:hover {
    background: var(--gray-color);
}

.project-index-container {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-index-container .project-container {
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
    background: aqua;

}

.project-index-container .project-container .head-wrapper{
    margin-top: 50px;
}

.project-index-container .project-container .head-wrapper h2{
    font-size: 40px;

}